body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px; /* Add margin at the top to bring the content lower */

}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.projects {
    margin-top: 20px;
}

.projects h2 {
    text-align: center;
    margin-bottom: 20px;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.project-pic {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.project p {
    flex: 1;
}
